div {
	background-color: #58648f;
	width: 300px;
	height: 200px;
	text-align: center;
	color: #04D9FF;
}


#donation:first-child {
	padding-top: 20px;
}

#donation > p {
	font-size: 20px;
}

.popup {
	opacity: 0;
}