@font-face {
	font-family: 'furore';
	src: url('../fonts/furore.ttf') format('truetype');
}
div {
	font-family: 'furore';
	width: 300px;
	height: 200px;
	text-align: center;
	color: #04D9FF;
}

.total, .donation, .timer {
	width: 900px;
	height: 100px;
	background-color: #37415d;
	border: #04D9FF 3px solid;
	border-radius: 15px;
	text-align: left;
}

.timer {
	width: 450px;
	height: 150px;
	text-align: center;
}

.timer h1 {
	font-size: 30px;
}

.timer p {
	font-size: 40px;
	margin-top: 10px;
}
.total p, .donation p {
	font-size: 40px;
	margin-top: 20px;
	padding-left: 10px;
}

#goal, #amt {
	float: right;
	padding-right: 10px;
}

#goal {
	font-size: 37px;
}

.popup {
	opacity: 0;
}

.popup {
	font-family: 'furore';
	background-image: url("https://cdn.streamelements.com/static/alertbox/extralife-default.png");
	background-repeat: no-repeat;
	width: 1075px;
	height: 450px;
}

.popup h1 {
	padding-top: 170px;
	padding-left: 90px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 40px;
}

.popup h2 {
	font-size: 40px;
	margin: 0;
	padding: 0 0 0 90px;;
}

.popup p {
	margin-top: 10px;
	padding-left: 140px;
	font-size: 30px;
	max-width: 900px;
}

.popup .text {
	font-family: 'Verdana';
	color: white;
}