@font-face {
	font-family: 'furore';
	src: url('../fonts/furore.ttf') format('truetype');
}
div {
	font-family: 'furore';
	width: 300px;
	height: 200px;
	text-align: center;
	color: #04D9FF;
}

.total, .donation, .timer {
	width: 900px;
	height: 100px;
	/* background-color: #37415d;
	border: #04D9FF 3px solid; */
	border-radius: 15px;
	text-align: left;
}

.total, .donation {
	background-image: url('../images/background-wide.png');
}

.total p, .donation p {
	font-size: 35px;
	margin-top: 20px;
	padding-top: 30px;
	padding-left: 35px;
}

.timer {
	background-image: url('../images/background-short.png');
	background-repeat: no-repeat;
	padding-top: 15px;
	width: 450px;
	height: 150px;
	text-align: center;
}

.timer h1 {
	font-size: 25px;
}

.timer p {
	font-size: 40px;
	margin-top: 10px;
}

#goal {
	float: right;
	font-size: 37px;
	padding-right: 30px;
}

#amt {
	float: right;
	padding-right: 30px;
}

table {
	border: black solid 1px;
}

table tbody tr td {
	font-size: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.popup {
	opacity: 0;
}

.popup {
	font-family: 'furore';
	background-image: url("../images/background-popup.png");
	background-repeat: no-repeat;
	width: 1175px;
	height: 450px;
}

.popup h1 {
	padding-top: 170px;
	padding-left: 0px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 40px;
}

.popup h2 {
	font-size: 40px;
	margin: 0;
	padding: 0 0 0 0;;
}

.popup p {
	margin-top: 10px;
	padding-left: 140px;
	font-size: 30px;
	max-width: 900px;
}

.popup .text {
	font-family: 'Verdana';
	color: white;
}